.testimonial-card {
    grid-column: auto;
    grid-row: 2;
    min-height: 22rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.testimonial-card img {
    width: 8rem;
    border-radius: 50%;
    margin: 0 auto 0.5rem auto;
}

.testimonial-card h4 {
    margin: 0 auto 1rem auto;
}

.testimonial-card span {
    color: #F4CE14;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 949px) {
    .testimonial-card {
        grid-column: auto;
        grid-row: auto;
    }
}